<div class="contact-us">
        <h1>Love to Hear From You</h1>
        <div class="row">
            
            <div class="col-md-3">
                <h3>Postal Address</h3>
                <p>
                    Address Line 1
                    Address Line 2 <br>
                    City
                    State
                    Country <br>
                    Pin code- 560037
                </p>
                <h3>Email</h3>
                <p><strong>Office:</strong>office@gmail.com</p>
                <p><strong>Personal:</strong>personal@gmail.com</p>
                <h3>Phone</h3>
                <p><strong>Office:</strong>+91-1234567890</p>
                <p><strong>Work:</strong>+91-1234567891</p>
            </div>
        </div>
        
</div>